block variables
    -
        var title = "Base шаблон";
        var menuItemActiveHref = "base.html";
        var persona = {
        name: "Алексей Алексеев"
        }

    if (templateName)
        include ./varsExpress
    else
        include ./varsWebpack

    - var data = locals.data

doctype html
html(lang="ru-RU").no-js

    head
        meta(charset="UTF-8")
        meta(name="viewport", content="initial-scale=1.0,width=device-width")
        title=title
        if !locals.isServer
            link(rel="stylesheet" href=`${locals.nameCriticalFileCssCommon}`)
            link(rel="stylesheet" href=`${locals.nameCriticalFileCssChunk}`)
            noscript
                link(rel="stylesheet" href=`${locals.nameFileCssCommon}`)
                link(rel="stylesheet" href=`${locals.nameFileCssChunk}`)
            //- for async connections the styles
            script.
                var nameFileCssCommon = "#{locals.nameFileCssCommon}";
                var nameFileCssChunk = "#{locals.nameFileCssChunk}";

        script.
            (function (H) {
                H.className = H.className.replace(/\bno-js\b/, 'js')
            })(document.documentElement)

    body#section-top
        block body
            div Основное содержимое базового шаблона

        if !locals.isServer
            script(src=locals.nameFileJsCommon defer)
            script(src=locals.nameFileJsChunk defer)

