include ../index-menu/index
include ../../soc-btns/index

//-
  options.persona.avatar
  options.persona.name

  options.subTitle
  options.socBtns

  options.menu.menuItems
  options.menu.menuItemActiveHref
mixin index-card(options)
    if !options
        - options = {}
    - var tag = attributes.tag ? attributes.tag : 'div'

    #{tag}.b-index-card(class!=attributes.class)
        .b-index-card__main
            .b-index-card__photo-wr
                img.b-index-card__photo(src=options.persona.avatar alt=options.persona.name)
            .b-index-card__title=options.persona.name
            h2.b-index-card__subtitle=options.subTitle
            +soc-btns({
                items: options.socBtns,
                mod: 'grey'
            })(class='b-index-card__soc-btns')
        .b-index-card__bottom
            +index-menu({
                menu: options.menu
            })(class='b-index-card__menu')
