include ../../title/index
include ../../icon/index

//-
    options.contacts.items = массив контактов
mixin about-contacts(options)
    if !options
        - options = {}

    section.b-about-contacts(class!=attributes.class)
        .b-about-contacts__map.js-map
            iframe(
            width="100%"
            height="100%"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBUvfOvtLO2nH98qf4mX5vL-8d2JEelMkY&q=Челябинск" allowfullscreen)
        .b-about-contacts__main
            +sub-title({
                text: "Контакты"
            })(class="b-about-contacts__title" tag="h2")
            ul.b-about-contacts__list
                each contact in options.contacts.items
                    li.b-about-contacts__list-item.b-about-contact
                        span.b-about-contact__name.u-sr-only= contact.name
                        .b-about-contact__icon-wr
                            +icon({
                                file: contact.fileName
                            })(class="b-about-contact__icon")
                        if contact.href
                            a.b-about-contact__link(href=contact.href)
                                span.b-about-contact__value= contact.value
                        else
                            span.b-about-contact__value= contact.value
