mixin skills(options)
    if !options
        - options = {}
        //strokeDasharray = 2 * Math.PI * this.radius;
    -
        var sizeCircle = 122;
        var radius = 50;
        var PI = Math.PI;
        var items = options.items.map((list) => {
            list.items = list.items.map((skill) => {
                skill.strokeDasharray = `${(2 * PI * radius) * (skill.value / 100)} ${(2 * PI * radius) * ((100 - skill.value) / 100)}`
                return skill;
            });
            return list;
        });



    .b-skills(class!=attributes.class)
        ul.b-skills__list.b-skills-lists
            each list in items
                li.b-skills-lists__item
                    h3.b-skills-lists__title= list.name
                    ul.b-skills-lists__content
                        each item in list.items
                            li.b-skills-list__item.b-skill(style=`opacity: ${item.value && item.value > 25 ? item.value / 100 : 0.25}`)
                                .b-skill__img
                                    svg(viewBox=`0 0 ${sizeCircle} ${sizeCircle}` width=sizeCircle height=sizeCircle).b-skill-svg
                                        circle(
                                            r=radius cx="50%" cy="50%"
                                            class="b-skill-svg__circle-base"
                                        )
                                        circle(
                                            r=radius cx="50%" cy="50%"
                                            stroke-dasharray=item.strokeDasharray
                                            transform=`rotate(-90 ${sizeCircle/2} ${sizeCircle/2})`
                                            class="b-skill-svg__circle-progress"
                                        )
                                .b-skill__title= item.name
