//-
    options.menuItems - массив елементов меню
    options.menuClass - дополнительные класс меню
    options.menuItemClass - дополнительные класс элемента меню
    options.menuItemActiveHref - url активного элемента меню

mixin menu-base(options)
    if !options
        - options = {}

    if !options.menuItems
    nav(class=options.menuClass)
        ul(class=options.menuClass + "__list")
            each item in options.menuItems
                if item.href !== options.menuItemActiveHref
                    li(
                    class=options.menuClass + "__item"
                    class=options.menuItemClass
                    )
                        a(
                        href=item.href
                        class=options.menuItemClass + "__link"
                        )
                            span(
                            class=options.menuItemClass + "__text"
                            )=item.name
                else
                    li(
                    class=options.menuClass + "__item"
                    class=options.menuItemClass
                    class=options.menuItemClass + "--active"
                    )
                        span(
                        class=options.menuItemClass + "__text"
                        )=item.name
